.wrapper {
  width: 100%;
  margin-top: 60px;
  border-collapse: collapse;
}

.labels {
  color: #CCC9D5;
  border-bottom: 2px solid#E9F0FA;
}

.values {
  cursor: pointer;
  border-bottom: 2px solid#E9F0FA;
  transition: 0.09s ease;
}

.values:hover {
  background-color: #E9F0FA;
  border-bottom-color: transparent;
}

.warning {
  color: #ffac02
}

.hidden {
  display: none;
}


@media(min-width:768px) {
  .labels {
    line-height: 2;
  }

  .values {
    line-height: 2.8;
  }

  .hidden {
    display: block;
  }

}