.wrapper {
  display: flex;
  flex-wrap: wrap;
}

.button {
  cursor: pointer;
  outline-offset: -5px;
  font-size: 18px;
  font-weight: 700;
  margin-right: 35px;
  margin-bottom: 20px;
  border: none;
  background-color: transparent;
  color: #5270D1;
  transition: 0.18s ease;
}

.button::after {
  content: '';
  display: block;
  margin-top: 10px;
  width: calc(100% + 15px);
  height: 3px;
  background-color: #83BFFF;
}

.button:hover {
  color: #1722B7;
}

.search {
  padding: 8px 15px;
  align-self: flex-start;
  font-size: 18px;
  line-height: 1.6;
  border: 3px solid #83BFFF;
  border-radius: 35px;
  transition: 0.18s ease;
}

.search:focus {
  border: 3px solid #1722B7;
}

.active {
  composes: button;
  color: #1722B7;
}

.active::after {
  background-color: #1722B7;
}



@media (min-width: 768px) {
  .wrapper {
    justify-content: space-around;
  }

  .button {
    font-size: 22px;
  }

  .button::after {
    width: calc(100% + 80px);
  }
}